---
layout: page
title: "About"
description: "Maxime Guyot - Software Defined Engineer"
header-img: "img/about-bg.jpg"
---


<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h2>About me</h2>
    <p>
      I am a System Engineer passionated with cloud and devops.
      I specialize in planning, deploying and operating OpenStack clouds for a regional cloud provider.
      I currently work between Sweden and Belgium.
    </p>
    <h2>Projects</h2>
    <ul>
      <li>2016 &ndash; Multi region OpenStack cloud</li>
      <li>2016 &ndash; Multihoming &amp; and network automation</li>
      <li>2015 &ndash; OpenStack &amp; Ceph cloud</li>
      <li>2014 &ndash; OpenStack POC cloud</li>
      <li>2013 &ndash; Design and migrate a resilient network</li>
    </ul>
    <h2>Hobbies</h2>
    <div class="row">
      {% include icon-div.html icon="camera" label="Photography" %}
      {% include icon-div.html icon="plane" label="Traveling" %}
      {% include icon-div.html icon="cutlery" label="Baking and cooking" %}
      {% include icon-div.html icon="beer" label="Homebrewing" %}
    </div>

  </div>
  <div class="col-xs-12 col-sm-4">
    <h3>DevOps</h3>
    <ul>
      <li>OpenStack</li>
      <li>Ceph</li>
      <li>Salt &amp; Ansible</li>
    </ul>
    <h3>Network</h3>
    <ul>
      <li>Multihoming &amp; BGP</li>
      <li>Leaf &amp; Spine</li>
    </ul>
    <h3>Programming</h3>
    <ul>
      <li>Python</li>
      <li>Web &amp; AngularJS</li>
    </ul>
    <h3>Virtualization</h3>
    <ul>
      <li>KVM</li>
      <li>Xen</li>
      <li>VMware vSphere</li>
      <li>HyperV</li>
    </ul>
    <h3>Languages</h3>
    {% include progress-bar.html value="100" label="English" %}
    {% include progress-bar.html value="100" label="French" %}
    {% include progress-bar.html value="40" label="Swedish" %}
    {% include progress-bar.html value="30" label="German" %}
    {% include progress-bar.html value="30" label="Lithuanian" %}
  </div>
</div>
<h2>Want to know more?</h2>
<a href="/contact" class="btn btn-default" role="button">Get in touch</a>
